@font-face {
  font-family: Quantify;
  src: url(/../fonts/Quantify-Bold-v2.6.ttf);
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
.App-portrait {
  width: 160px;
  float: left;
  padding-bottom: 20px;
}
.github {
  font-size: 40px;
  margin-right: 20px;
  color: white;
  text-decoration: none;
}

.linkedinIcon {
  font-size: 40px;
  margin-right: 20px;
  color: white;
}

.arrowDropDown {
  padding-left: 5px;
}
p {
  color: white;
}

.App-header {
  background-color: #222;
  height: 208px;
  padding-top: 20px;
  padding-bottom: 0px;
  color: white;
  align-content: left;
  text-align: left;
  background-image: url("/../images/carbon-fiber.jpg");
}
.Profiles {
  float: right;
  display: inline;
  height: 20px;

}
h1, .h1 {
  display: block;
  margin-top: 20px;
  font-family: Quantify;
}

h2, .h2 {
  font-size: 20px;
  color: #918165;
}

.HomeHeader {
  color: white;
  font-family: Quantify;
}
.container {
    width: 100%;
    margin-left: 15px;
}

.collapse:not(.show) {
  display: list-item;
}

.NavBarTool {
  width: 100%;
 }

/* li {
  padding-right: 45px;
}  */
/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial, Helvetica, sans-serif;
  padding-left:37px;
  margin-top: 18px;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  text-decoration: none;
}
.aboutLink, .homeLink, .contactMe {
  margin-right: 15px;
  padding: 15px;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
  margin-right: 15px;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 15px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}
.dropbtn {
  float: left;
}

/* Add a red background color to navbar links on hover */
.navbar a.homeLink:hover, a.aboutLink:hover, .contactMe:hover, .dropdown:hover .dropbtn {
  background-color: #918165;
}

span {

}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #DDD5C6;
  min-width: 160px;
  box-shadow: 4px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-top: 48px;

}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}


.App-intro {
  font-size: 50px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
