@font-face {
  font-family: Quantify;
  src: url(/../fonts/Quantify-Bold-v2.6.ttf);
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
.App-portrait {
  width: 160px;
  float: left;
  padding-bottom: 20px;
}

.title {
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  color: white;
}
.title:hover {
  color: #A94C40;
  text-decoration: underline;
}

.Reporttitle {
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  color: white;
}

.local {
  margin-top: 50px;
  margin-bottom: 50px;
}


.fa-file-pdf{
  margin-right: 10px;
  color: white;
}
.github {
  font-size: 40px;
  margin-right: 20px;
  color: white;
  text-decoration: none;
}

.projectgithub {
  font-size: 30px;
  color: white;
  text-decoration: none;
}

.linkedinIcon {
  font-size: 40px;
  margin-right: 20px;
  color: white;
}

.arrowDropDown {
  padding-left: 5px;
}
p {
  color: white;
}

.resumeBtn {
  font-family: 'Open Sans', sans-serif;
  border-radius: 4px;
  background-color: #A94C40;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 16px;
  padding: 10px;
  cursor: pointer;
  margin: 0 auto;
  margin-top: 50px;
  align-items: center;
  justify-content: center;
}
.resumeBtn:hover {
  background-color: #873D33;
}

.phone_info {
  font-family: 'Open Sans', sans-serif;
  margin-top: 20px;
  margin-bottom: 20px
}

.Reports{
  height: 200px;
}

.email_info {
  font-family: 'Open Sans', sans-serif;

}

.line {
  border: none;
  height: 1px;
  width: 25%;
  color: White; /* old IE */
  background-color: White; /* Modern Browsers */
}

.App-header {
  background-color: #222;
  height: 208px;
  padding-top: 20px;
  padding-bottom: 0px;
  color: white;
  align-content: left;
  text-align: left;
  background-image: url("/../images/gradient.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.Profiles {
  float: right;
  display: inline;
  height: 20px;

}
h1, .h1 {
  display: block;
  margin-top: 20px;
  font-family: Quantify;
}

h2, .h2 {
  font-size: 20px;
  color: #918165;
}

.HomeHeader {
  color: white;
  margin-top: 50px;
  font-family: Quantify;
}

.ReportHeader {
  margin-top: 100px;
}

.container {
    width: 100%;
    margin-left: 15px;
}

.title_bar {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  color: #918165;
}

.gitcontainer {
    width: 100%;
}

.repository, .report {
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 300px;
  height: auto;
  margin-left: 50px;;
  margin-bottom: 10px;;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px 20px 20px;
  display: inline-block;
}

.report {
  height: auto;
}

.Repos, .Reports {
  margin-top: 40px;
  display: inline-block;
  width: 100%;
}

.collapse:not(.show) {
  display: list-item;
}

.NavBarTool {
  width: 100%;
 }

/* li {
  padding-right: 45px;
}  */
/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial, Helvetica, sans-serif;
  padding-left:37px;
  margin-top: 18px;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  margin: 0 auto;
  display: inline-block;
  text-decoration: none;
}
.aboutLink, .homeLink, .contactMe {
  margin-right: 15px;
  padding: 15px;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
  margin-right: 15px;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 15px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}
.dropbtn {
  float: left;
}
Link {
  display:inline;
}

/* Add a red background color to navbar links on hover */
.navbar a.homeLink:hover, a.aboutLink:hover, .contactMe:hover, .dropdown:hover .dropbtn {
  background-color: #918165;
}

.aboutNode {
  border-style: solid;
  border-width: 1px;
  border-color: White;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: auto;
  width: 50%;
  margin-top: 50px;
}

.ProjectsInfo {
  font-family: 'Open Sans', sans-serif;
  margin-top: 10px;
  margin-bottom: 50px;
}

.AboutP {
  letter-spacing: 1px;
  font-family: 'Open Sans', sans-serif;
  margin-left: 15px;
  margin-right: 15px;
  text-align: left;
  text-indent: 30px;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #DDD5C6;
  min-width: 160px;
  box-shadow: 4px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-top: 48px;

}

.fa-phone, .fa-envelope {
  color: white;
  size: 10px;
  margin-right: 10px;
}

 .info {
   display: inline;
 }
/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}


.App-intro {
  font-size: 50px;
}

/* entire container, keeps perspective */
.flip-container {
	perspective: 1000px;
}
	/* flip the pane when hovered */
	.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
	}

.flip-container, .front, .back {
	width: 320px;
	height: 480px;
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    body {
      height: 736px;
      background-image: none;
    }
    .App-portrait {
        display: none;
    }
    .App-header {
      margin-top: 0px;
      padding-top: 10px;
      height: auto;
      width: auto;
    }
    a.homeLink:hover, a.aboutLink:hover, .contactMe:hover {

    }
    .HName {
      margin-left: 10px;
      font-size: 25px;
      margin-bottom: 0px;
      margin-top: 0;
    }
    .HDegree {
      margin-left: 10px;
      font-size: 15px;
      margin-top: 5px;
    }
    .github  {

    }
    .navbar {
      margin: 0 auto;
      padding-left: 0px;
      display: flex;
      align-items: center;
      width: auto;
    }
    .aboutNode {
      width: 80%;
    }
    .AboutP, .ProjectsInfo {
      font-size: 70%;
    }
    .ProjectsInfo {
      font-size: 14px;
    }
    .HomeHeader {
      font-size: 40px;
      margin-top: 30px;
    }
    .resumeBtn {
      margin-top: 40px;
      margin-bottom: 20px;
    }
    .Repos {
      margin: 0 auto;
    }
    .repository {
      margin-left: 0px;
      height: auto;
    }
    .content_section {
      margin: 0 auto;
    }
    .report {
      margin-left: 0px;
      height: auto;
    }

}
